.card-front{
	width: 350px;
	border: 1px solid red;
	background-color: #DC3545;
	border-radius: 0.5em;
	overflow: hidden;
	color: white;
	margin-top: 5em;
}
.card-up {
	display: flex;
	justify-content: space-between;
	padding: 2em 1em;

}
.card-bottom {
	display: flex;
	justify-content: space-between;
	padding-left: 1em;
	background-color: #BA434E;
	padding: 0 1em;
}

#abrir, #abrir label {
	text-align: left;
	color: white;
	cursor: pointer;
	width: 100%;
}

.table-content-bold {
	font-weight: bold;
	text-align: center;
}

.cash-active {
	background-color: #5be3a4;
}
