.DataContainer {
  width: 100%;
  min-height: 3em;
  display: flex;
  border-bottom: 2px solid #d8d8d852;
  padding: 6px 8px;
  align-items: center;
  cursor: pointer;
  }
  .Name {
    font-size: 15px;
    color: #000;
    margin-left: 10px;
    flex: 2;
    display: flex;
  }
  .precio {
    font-weight: 600;
    color: cadetblue;
  }
 /*  .thumbnail {
  width: auto;
  height: 100%;
  display: flex;
  flex: 0.4;
  }
  
  .thumbnail img {
  width: auto;
  height: 100%;
  } */
  
 
  
/*   .rating {
  color: #a1a1a1;
  font-size: 16px;
  display: flex;
  flex: 0.2;
  } */