/* SearchBarContainer */
.SearchBarContainer {
  display: flex;
  flex-direction: column;
  width: 34em;
  height: 3.8em;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
}

/* SearchInputContainer */
.SearchInputContainer {
  width: 100%;
  min-height: 4em;
  display: flex;
  align-items: center;
  position: relative;
  padding: 2px 15px;
}

/* SearchInput */
.SearchInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 21px;
  color: #12112e;
  font-weight: 500;
  border-radius: 6px;
  background-color: transparent;
}

.SearchInput:focus {
  outline: none;
}

.SearchInput::placeholder {
  color: #bebebe;
  transition: all 250ms ease-in-out;
}

.SearchInput:focus::placeholder {
  opacity: 0;
}

/* SearchIcon */
.SearchIcon {
  color: #bebebe;
  font-size: 27px;
  margin-right: 10px;
  margin-top: 6px;
  vertical-align: middle;
}

/* CloseIcon */
.CloseIcon {
  color: #bebebe;
  font-size: 23px;
  vertical-align: middle;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.CloseIcon:hover {
  color: #dfdfdf;
}

/* LineSeperator */
.LineSeperator {
  display: flex;
  min-width: 100%;
  min-height: 2px;
  background-color: #d8d8d878;
}

/* SearchContent */
.SearchContent {
  // width: 100%;
  width: inherit;
  // height: auto;
  height: 16em;

  display: flex;
  flex-direction: column;
  padding: 1em;
  position: absolute;
  top: 15.2em;
  background: #fff;
  overflow-y: auto;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 12px 3px;
  // overflow-y: scroll;
}

/* LoadingWrapper */
.LoadingWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WarningMessage */
.WarningMessage {
  color: #a1a1a1;
  font-size: 14px;
  display: flex;
  align-self: center;
  justify-self: center;
}
